button {
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    line-height: 20.27px;
    min-width: 81px;
    min-height: 36px;
    box-shadow: 0px 2px 3px 0px #33333333;
    border: none;
    border-radius: 6px;
}

button:disabled {
    color: '#9E9E9E'
}

.buttonDefault {
    background-color: #E0E0E0;
}

.buttonDefault:hover, .buttonDefault:focus {
    background-color: #AEAEAE;
}

.outlineButton {
    border: 1px solid #3D5AFE;
    color: #3D5AFE;
}

.outlineButton:hover, .outlineButton:focus {
    background-color: rgba(41, 98, 255, 0.1);
}

.textButton {
    color: #3D5AFE;
}

.textButton:hover, .textButton:focus {
    background-color: rgba(41, 98, 255, 0.1);
}


